<form (ngSubmit)="submitData()" [formGroup]="createDepartmentForm" novalidate>
    <h1 mat-dialog-title>Crear un departamento</h1>
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-6 pl-0">
                <mat-form-field class="w-100 disable-margin">
                    <mat-label class="form-label">Cliente</mat-label>
                    <input
                        formControlName="client"
                        matInput
                        placeholder="Cliente"
                        type="string"
                    />
                </mat-form-field>
            </div>
            <div class="col-md-6 pl-0">
                <mat-form-field class="w-100 disable-margin">
                    <mat-label class="form-label">Departamento</mat-label>
                    <input
                    formControlName="dept"
                    matInput
                    placeholder="Departamento"
                    type="string"
                    />
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="btn btn-primary btn-block mb-3" type="submit">
            Crear
        </button>
    </mat-dialog-actions>
</form>
