<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white px-5 shadow">
    <div class="container ps-5">
        <a class="navbar-brand" routerLink="/">
            <img draggable="false" width="150" alt="logo" src="assets/images/logo.png">
        </a>
    </div>
    <div class="collapse navbar-collapse pe-5">
        <ul class="navbar-nav ms-auto align-items-center h5" style="font-weight: 400;">
            <!-- <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/crear-departamento">Crear Departamentos</a>
            </li> -->
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/orders-dash">Pedidos</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/"><i class="bi bi-house-door-fill"></i> Home</a>
            </li>
        </ul>
    </div>
</nav>
